body {
  text-align: center;
  background-color: rgb(216, 147, 68)
}

.panel {
  width: 40%;
  margin: auto;
  margin-bottom: 40px;
  border: 2px solid black;
  padding: 20px;
  background-color: rgb(184, 207, 228)
}

input {
  margin: 5px;
}

img {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
}

.left-align {
  text-align: left;
  padding: 0 20px;
  font-size: 15px;
}

.panel p {
  text-align: left;
}